In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
census = pd.read_csv('acs2015_county_data.csv', encoding='latin-1')

In [3]:
census.head()

,CensusId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001,Alabama,Autauga,55221,26745,28476,2.6,75.8,18.5,0.4,...,0.5,1.3,1.8,26.5,23986,73.6,20.9,5.5,0.0,7.6
1,1003,Alabama,Baldwin,195121,95314,99807,4.5,83.1,9.5,0.6,...,1.0,1.4,3.9,26.4,85953,81.5,12.3,5.8,0.4,7.5
2,1005,Alabama,Barbour,26932,14497,12435,4.6,46.2,46.7,0.2,...,1.8,1.5,1.6,24.1,8597,71.8,20.8,7.3,0.1,17.6
3,1007,Alabama,Bibb,22604,12073,10531,2.2,74.5,21.4,0.4,...,0.6,1.5,0.7,28.8,8294,76.8,16.1,6.7,0.4,8.3
4,1009,Alabama,Blount,57710,28512,29198,8.6,87.9,1.5,0.3,...,0.9,0.4,2.3,34.9,22189,82.0,13.5,4.2,0.4,7.7

In [4]:
cities = pd.read_csv('uscitiesv1.4.csv')

In [5]:
cities.head()

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,population_proper,density,source,incorporated,timezone,zips,id
0,Prairie Ridge,Prairie Ridge,WA,Washington,53053,Pierce,47.1443,-122.1408,NaN,NaN,1349.8,polygon,False,America/Los_Angeles,98360 98391,1840037882
1,Edison,Edison,WA,Washington,53057,Skagit,48.5602,-122.4311,NaN,NaN,127.4,polygon,False,America/Los_Angeles,98232,1840017314
2,Packwood,Packwood,WA,Washington,53041,Lewis,46.6085,-121.6702,NaN,NaN,213.9,polygon,False,America/Los_Angeles,98361,1840025265
3,Wautauga Beach,Wautauga Beach,WA,Washington,53035,Kitsap,47.5862,-122.5482,NaN,NaN,261.7,point,False,America/Los_Angeles,98366,1840037725
4,Harper,Harper,WA,Washington,53035,Kitsap,47.5207,-122.5196,NaN,NaN,342.1,point,False,America/Los_Angeles,98366,1840037659

In [6]:
cities.columns

Index(['city', 'city_ascii', 'state_id', 'state_name', 'county_fips',
       'county_name', 'lat', 'lng', 'population', 'population_proper',
       'density', 'source', 'incorporated', 'timezone', 'zips', 'id'],
      dtype='object')

In [7]:
cities.drop(['population', 'population_proper', 'incorporated', 'id', 
             'source', 'city_ascii', 'timezone', 'lat', 'lng', 'county_fips',],
            axis=1, inplace=True)

In [8]:
cities.head()

             city state_id  state_name county_name  density         zips
0   Prairie Ridge       WA  Washington      Pierce   1349.8  98360 98391
1          Edison       WA  Washington      Skagit    127.4        98232
2        Packwood       WA  Washington       Lewis    213.9        98361
3  Wautauga Beach       WA  Washington      Kitsap    261.7        98366
4          Harper       WA  Washington      Kitsap    342.1        98366

In [9]:
cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36650 entries, 0 to 36649
Data columns (total 6 columns):
city           36650 non-null object
state_id       36650 non-null object
state_name     36650 non-null object
county_name    36650 non-null object
density        36650 non-null float64
zips           36649 non-null object
dtypes: float64(1), object(5)
memory usage: 1.7+ MB

In [10]:
cities.at['zips', 17911] = 99584

In [11]:
cities[cities['zips'].apply(func=typecheck)]

NameError: name 'typecheck' is not defined

In [12]:
def firstzip(x):
    if type(x) == str:
        return x.split()[0]

In [13]:
cities['zips'] = cities['zips'].apply(firstzip)

In [14]:
cities.head()

             city state_id  state_name county_name  density   zips  17911
0   Prairie Ridge       WA  Washington      Pierce   1349.8  98360    NaN
1          Edison       WA  Washington      Skagit    127.4  98232    NaN
2        Packwood       WA  Washington       Lewis    213.9  98361    NaN
3  Wautauga Beach       WA  Washington      Kitsap    261.7  98366    NaN
4          Harper       WA  Washington      Kitsap    342.1  98366    NaN

In [15]:
cities.drop(17911, axis=1, inplace=True)

In [16]:
cities.head()

             city state_id  state_name county_name  density   zips
0   Prairie Ridge       WA  Washington      Pierce   1349.8  98360
1          Edison       WA  Washington      Skagit    127.4  98232
2        Packwood       WA  Washington       Lewis    213.9  98361
3  Wautauga Beach       WA  Washington      Kitsap    261.7  98366
4          Harper       WA  Washington      Kitsap    342.1  98366

In [17]:
census = pd.read_csv('acs2015_county_data.csv')

In [18]:
census.head()

,CensusId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001,Alabama,Autauga,55221,26745,28476,2.6,75.8,18.5,0.4,...,0.5,1.3,1.8,26.5,23986,73.6,20.9,5.5,0.0,7.6
1,1003,Alabama,Baldwin,195121,95314,99807,4.5,83.1,9.5,0.6,...,1.0,1.4,3.9,26.4,85953,81.5,12.3,5.8,0.4,7.5
2,1005,Alabama,Barbour,26932,14497,12435,4.6,46.2,46.7,0.2,...,1.8,1.5,1.6,24.1,8597,71.8,20.8,7.3,0.1,17.6
3,1007,Alabama,Bibb,22604,12073,10531,2.2,74.5,21.4,0.4,...,0.6,1.5,0.7,28.8,8294,76.8,16.1,6.7,0.4,8.3
4,1009,Alabama,Blount,57710,28512,29198,8.6,87.9,1.5,0.3,...,0.9,0.4,2.3,34.9,22189,82.0,13.5,4.2,0.4,7.7

In [19]:
guns = pd.read_csv('gun-violence-data_01-2013_03-2018.csv')

In [20]:
guns.head()

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district
0,461105,2013-01-01,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Julian Sims,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN
1,460726,2013-01-01,California,Hawthorne,13500 block of Cerise Avenue,1,3,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Bernard Gillis,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0
2,478855,2013-01-01,Ohio,Lorain,1776 East 28th Street,1,3,http://www.gunviolencearchive.org/incident/478855,http://chronicle.northcoastnow.com/2013/02/14/...,False,...,0::25||1::31||2::33||3::34||4::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,0::Damien Bell||1::Desmen Noble||2::Herman Sea...,NaN,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,http://www.morningjournal.com/general-news/201...,56.0,13.0
3,478925,2013-01-05,Colorado,Aurora,16000 block of East Ithaca Place,4,0,http://www.gunviolencearchive.org/incident/478925,http://www.dailydemocrat.com/20130106/aurora-s...,False,...,0::29||1::33||2::56||3::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Stacie Philbrook||1::Christopher Ratliffe||...,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://denver.cbslocal.com/2013/01/06/officer-...,40.0,28.0
4,478959,2013-01-07,North Carolina,Greensboro,307 Mourning Dove Terrace,2,2,http://www.gunviolencearchive.org/incident/478959,http://www.journalnow.com/news/local/article_d...,False,...,0::18||1::46||2::14||3::47,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Danielle Imani Jameison||1::Maurice Eugene ...,3::Family,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://myfox8.com/2013/01/08/update-mother-sho...,62.0,27.0

In [21]:
guns.columns

Index(['incident_id', 'date', 'state', 'city_or_county', 'address', 'n_killed',
       'n_injured', 'incident_url', 'source_url',
       'incident_url_fields_missing', 'congressional_district', 'gun_stolen',
       'gun_type', 'incident_characteristics', 'latitude',
       'location_description', 'longitude', 'n_guns_involved', 'notes',
       'participant_age', 'participant_age_group', 'participant_gender',
       'participant_name', 'participant_relationship', 'participant_status',
       'participant_type', 'sources', 'state_house_district',
       'state_senate_district'],
      dtype='object')

In [22]:
guns.drop(axis=1, inplace=True, 
          labels=['incident_id', 'address', 'incident_url', 'source_url',
                  'incident_url_fields_missing', 'congressional_district', 'gun_stolen', 
                  'gun_type', 'location_description', 'n_guns_involved', 'notes', 
                  'participant_age', 'participant_age_group', 'participant_gender', 
                  'participant_name', 'participant_relationship', 'participant_status', 
                  'participant_type', 'sources', 'state_house_district',  'state_senate_district',])

In [23]:
guns.head()

,date,state,city_or_county,n_killed,n_injured,incident_characteristics,latitude,longitude
0,2013-01-01,Pennsylvania,Mckeesport,0,4,Shot - Wounded/Injured||Mass Shooting (4+ vict...,40.3467,-79.8559
1,2013-01-01,California,Hawthorne,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",33.9090,-118.3330
2,2013-01-01,Ohio,Lorain,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",41.4455,-82.1377
3,2013-01-05,Colorado,Aurora,4,0,"Shot - Dead (murder, accidental, suicide)||Off...",39.6518,-104.8020
4,2013-01-07,North Carolina,Greensboro,2,2,"Shot - Wounded/Injured||Shot - Dead (murder, a...",36.1140,-79.9569

In [24]:
guns.columns

Index(['date', 'state', 'city_or_county', 'n_killed', 'n_injured',
       'incident_characteristics', 'latitude', 'longitude'],
      dtype='object')

In [25]:
guns.columns = ['date', 'state_name', 'city', 'n_killed', 'n_injured',
       'incident_characteristics', 'latitude', 'longitude']

In [26]:
guns.columns

Index(['date', 'state_name', 'city', 'n_killed', 'n_injured',
       'incident_characteristics', 'latitude', 'longitude'],
      dtype='object')

In [27]:
guns.head()

,date,state_name,city,n_killed,n_injured,incident_characteristics,latitude,longitude
0,2013-01-01,Pennsylvania,Mckeesport,0,4,Shot - Wounded/Injured||Mass Shooting (4+ vict...,40.3467,-79.8559
1,2013-01-01,California,Hawthorne,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",33.9090,-118.3330
2,2013-01-01,Ohio,Lorain,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",41.4455,-82.1377
3,2013-01-05,Colorado,Aurora,4,0,"Shot - Dead (murder, accidental, suicide)||Off...",39.6518,-104.8020
4,2013-01-07,North Carolina,Greensboro,2,2,"Shot - Wounded/Injured||Shot - Dead (murder, a...",36.1140,-79.9569

In [28]:
guns['city'].head()

0    Mckeesport
1     Hawthorne
2        Lorain
3        Aurora
4    Greensboro
Name: city, dtype: object

In [29]:
# guns['city'] = guns['city'].apply(lambda x: x.split()[0])

In [30]:
cities.head()

             city state_id  state_name county_name  density   zips
0   Prairie Ridge       WA  Washington      Pierce   1349.8  98360
1          Edison       WA  Washington      Skagit    127.4  98232
2        Packwood       WA  Washington       Lewis    213.9  98361
3  Wautauga Beach       WA  Washington      Kitsap    261.7  98366
4          Harper       WA  Washington      Kitsap    342.1  98366

In [31]:
gunscounties = guns.merge(right=cities, how='left', on=['city', 'state_name'], validate='many_to_one')

In [32]:
gunscounties.head()

,date,state_name,city,n_killed,n_injured,incident_characteristics,latitude,longitude,state_id,county_name,density,zips
0,2013-01-01,Pennsylvania,Mckeesport,0,4,Shot - Wounded/Injured||Mass Shooting (4+ vict...,40.3467,-79.8559,NaN,NaN,NaN,NaN
1,2013-01-01,California,Hawthorne,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",33.9090,-118.3330,CA,Los Angeles,5589.0,90250
2,2013-01-01,Ohio,Lorain,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",41.4455,-82.1377,OH,Lorain,1039.0,44052
3,2013-01-05,Colorado,Aurora,4,0,"Shot - Dead (murder, accidental, suicide)||Off...",39.6518,-104.8020,CO,Adams,909.0,80247
4,2013-01-07,North Carolina,Greensboro,2,2,"Shot - Wounded/Injured||Shot - Dead (murder, a...",36.1140,-79.9569,NC,Guilford,874.0,27410

In [33]:
gunscounties.to_csv('guns_cities.csv', index=False)

In [34]:
guns = pd.read_csv('guns_cities.csv')

In [35]:
guns.head()

,date,state_name,city,n_killed,n_injured,incident_characteristics,latitude,longitude,state_id,county_name,density,zips
0,2013-01-01,Pennsylvania,Mckeesport,0,4,Shot - Wounded/Injured||Mass Shooting (4+ vict...,40.3467,-79.8559,NaN,NaN,NaN,NaN
1,2013-01-01,California,Hawthorne,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",33.9090,-118.3330,CA,Los Angeles,5589.0,90250.0
2,2013-01-01,Ohio,Lorain,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",41.4455,-82.1377,OH,Lorain,1039.0,44052.0
3,2013-01-05,Colorado,Aurora,4,0,"Shot - Dead (murder, accidental, suicide)||Off...",39.6518,-104.8020,CO,Adams,909.0,80247.0
4,2013-01-07,North Carolina,Greensboro,2,2,"Shot - Wounded/Injured||Shot - Dead (murder, a...",36.1140,-79.9569,NC,Guilford,874.0,27410.0

In [36]:
guns['zips'][0]

nan

In [37]:
guns['county_name'][0]

nan

In [38]:
type(guns['county_name'][0])

float

In [39]:
type(None)

NoneType

In [40]:
guns[guns['county_name'].isnull()]

,date,state_name,city,n_killed,n_injured,incident_characteristics,latitude,longitude,state_id,county_name,density,zips
0,2013-01-01,Pennsylvania,Mckeesport,0,4,Shot - Wounded/Injured||Mass Shooting (4+ vict...,40.3467,-79.8559,NaN,NaN,NaN,NaN
16,2013-02-03,California,Yuba (county),1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",39.1236,-121.5830,NaN,NaN,NaN,NaN
22,2013-02-19,California,Orange (county),4,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",33.8031,-117.9430,NaN,NaN,NaN,NaN
29,2013-03-03,Michigan,Saginaw (county),0,4,Shot - Wounded/Injured||Mass Shooting (4+ vict...,43.3944,-83.9082,NaN,NaN,NaN,NaN
44,2013-03-30,California,Merced (county),3,2,"Shot - Wounded/Injured||Shot - Dead (murder, a...",37.3603,-120.6540,NaN,NaN,NaN,NaN
47,2013-04-07,New York,New York (Manhattan),1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",40.9018,-73.8511,NaN,NaN,NaN,NaN
55,2013-04-22,Illinois,Chicago (Englewood),0,4,Shot - Wounded/Injured||Mass Shooting (4+ vict...,41.7906,-87.6418,NaN,NaN,NaN,NaN
78,2013-05-18,New York,Jamaica,1,0,"Shot - Dead (murder, accidental, suicide)||Gan...",40.6730,-73.7881,NaN,NaN,NaN,NaN
94,2013-06-02,Georgia,Lagrange,0,7,Shot - Wounded/Injured||Mass Shooting (4+ vict...,33.0354,-85.0244,NaN,NaN,NaN,NaN
140,2013-07-13,New Jersey,Trenton (Hamilton Township),1,4,"Shot - Wounded/Injured||Shot - Dead (murder, a...",40.1981,-74.7491,NaN,NaN,NaN,NaN
141,2013-07-14,Michigan,Grand Rapids (Kentwood),0,5,Shot - Wounded/Injured||Mass Shooting (4+ vict...,42.8740,-85.6052,NaN,NaN,NaN,NaN
162,2013-08-06,New Jersey,Montclair,0,4,Shot - Wounded/Injured||Mass Shooting (4+ vict...,40.8057,-74.2128,NaN,NaN,NaN,NaN
194,2013-09-16,District of Columbia,Washington Navy Yard,11,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",38.8730,-76.9977,NaN,NaN,NaN,NaN
220,2013-10-13,Pennsylvania,Wilkes Barre,1,0,"Shot - Dead (murder, accidental, suicide)||Ins...",41.2350,-75.9011,NaN,NaN,NaN,NaN
224,2013-10-21,Pennsylvania,Pittsburgh (Homewood),2,5,"Shot - Wounded/Injured||Shot - Dead (murder, a...",40.4555,-79.8970,NaN,NaN,NaN,NaN
232,2013-10-29,South Carolina,Bradley (Callison),5,0,"Shot - Wounded/Injured||Shot - Dead (murder, a...",33.9881,-82.2888,NaN,NaN,NaN,NaN
239,2013-11-09,Texas,Cypress,2,16,"Shot - Wounded/Injured||Shot - Dead (murder, a...",29.8840,-95.7187,NaN,NaN,NaN,NaN
263,2013-12-15,Florida,Homestead (Florida City),1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",25.4631,-80.4572,NaN,NaN,NaN,NaN
269,2013-12-25,New Jersey,Irvington,3,2,"Shot - Wounded/Injured||Shot - Dead (murder, a...",40.7217,-74.2217,NaN,NaN,NaN,NaN
286,2014-01-01,Georgia,Bibb County,0,1,Shot - Wounded/Injured,32.7866,-83.7199,NaN,NaN,NaN,NaN
287,2014-01-01,Virginia,Prince William County,0,1,Shot - Wounded/Injured,38.7765,-77.4996,NaN,NaN,NaN,NaN
304,2014-01-01,Colorado,Canon City,0,1,Shot - Wounded/Injured||Officer Involved Incid...,38.4340,-105.2640,NaN,NaN,NaN,NaN
320,2014-01-01,Alabama,Crenshaw,1,0,"Shot - Dead (murder, accidental, suicide)",31.7839,-86.1926,NaN,NaN,NaN,NaN
322,2014-01-01,Hawaii,Lihue,1,0,"Shot - Dead (murder, accidental, suicide)",21.9986,-159.3560,NaN,NaN,NaN,NaN
343,2014-01-01,North Carolina,Duplin County,0,1,Shot - Wounded/Injured,34.9624,-77.9622,NaN,NaN,NaN,NaN
363,2014-01-01,New Jersey,Gloucester Township,0,0,Armed robbery with injury/death and/or evidenc...,39.8258,-75.0659,NaN,NaN,NaN,NaN
364,2014-01-01,New Jersey,Mount Laurel,0,2,Armed robbery with injury/death and/or evidenc...,39.9168,-74.9485,NaN,NaN,NaN,NaN
365,2014-01-01,New Jersey,Belleville,0,0,Armed robbery with injury/death and/or evidenc...,40.7951,-74.1562,NaN,NaN,NaN,NaN
370,2014-01-01,Mississippi,Franklin,0,0,Shots Fired - No Injuries||Officer Involved In...,33.0363,-90.0028,NaN,NaN,NaN,NaN
382,2014-01-01,Oklahoma,Okmulgee County,0,2,Shot - Wounded/Injured||Possession of gun by f...,35.5711,-96.0152,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
239153,2018-03-28,Wyoming,Jackson (Jackson Hole),0,0,Non-Shooting Incident||Gun(s) stolen from owner,43.4757,-110.7700,NaN,NaN,NaN,NaN
239170,2018-03-28,Kansas,Wichita (Park City),0,0,Institution/Group/Business||Non-Shooting Incid...,37.7965,-97.3360,NaN,NaN,NaN,NaN
239194,2018-03-28,Tennessee,Hermitage,1,0,"Shot - Dead (murder, accidental, suicide)||Hom...",36.1995,-86.5994,NaN,NaN,NaN,NaN
239204,2018-03-28,Michigan,South Shore,0,1,Shot - Wounded/Injured,NaN,NaN,NaN,NaN,NaN,NaN
239218,2018-03-28,Wisconsin,Milwaukee (Wauwatosa),0,0,Shots Fired - No Injuries,43.0607,-87.9909,NaN,NaN,NaN,NaN
239226,2018-03-28,Georgia,Lagrange,0,0,Institution/Group/Business||Non-Shooting Incid...,32.9649,-85.1256,NaN,NaN,NaN,NaN
239250,2018-03-28,Maryland,Upper Marlboro (Largo),1,0,"Shot - Dead (murder, accidental, suicide)",38.8822,-76.8303,NaN,NaN,NaN,NaN
239277,2018-03-28,Vermont,Bellows Falls (Rockingham),0,1,Non-Shooting Incident||Domestic Violence||Pist...,NaN,NaN,NaN,NaN,NaN,NaN
239314,2018-03-29,Texas,Adkins,1,0,"Shot - Dead (murder, accidental, suicide)||Bar...",29.3713,-98.2684,NaN,NaN,NaN,NaN
239335,2018-03-29,Utah,Salt Lake City (Murray),2,0,"Shot - Dead (murder, accidental, suicide)||Sui...",40.6871,-111.9010,NaN,NaN,NaN,NaN
239363,2018-03-29,Tennessee,Madison,0,1,Shot - Wounded/Injured,36.2663,-86.6869,NaN,NaN,NaN,NaN
239378,2018-03-29,California,Tujunga,0,1,Shot - Wounded/Injured||Domestic Violence,34.2639,-118.2970,NaN,NaN,NaN,NaN
239391,2018-03-29,Georgia,Troup (county),0,1,Shot - Wounded/Injured,33.0410,-84.9708,NaN,NaN,NaN,NaN
239400,2018-03-29,Oregon,Cowlitz (county),0,0,Shots Fired - No Injuries||Road rage||ATF/LE C...,NaN,NaN,NaN,NaN,NaN,NaN
239411,2018-03-29,Florida,Homestead (Florida City),0,1,Shot - Wounded/Injured||Officer Involved Incid...,NaN,NaN,NaN,NaN,NaN,NaN
239453,2018-03-30,Indiana,Indianapolis (Lawrence),1,0,"Shot - Dead (murder, accidental, suicide)",39.8411,-86.0354,NaN,NaN,NaN,NaN
239455,2018-03-30,North Carolina,Winston Salem (Winston-salem),1,0,"Shot - Dead (murder, accidental, suicide)||Off...",NaN,NaN,NaN,NaN,NaN,NaN
239458,2018-03-30,Oklahoma,Oklahoma City (Del City),0,1,Shot - Wounded/Injured||Non-Aggression Inciden...,35.3342,-97.4413,NaN,NaN,NaN,NaN
239473,2018-03-30,New York,Corona (Queens),0,1,Shot - Wounded/Injured||Defensive Use||Defensi...,NaN,NaN,NaN,NaN,NaN,NaN
239512,2018-03-30,California,Granada Hills,0,0,Non-Shooting Incident||Officer Involved Incide...,34.2841,-118.5110,NaN,NaN,NaN,NaN
239515,2018-03-30,Arkansas,Hot Springs National Park (Hot Springs),0,0,Shots Fired - No Injuries||Possession of gun b...,34.4928,-93.0583,NaN,NaN,NaN,NaN
239536,2018-03-30,Florida,Fort Lauderdale (Lauderhill),0,1,Shot - Wounded/Injured||Institution/Group/Busi...,26.1362,-80.1865,NaN,NaN,NaN,NaN
239543,2018-03-30,Missouri,Chaffee (Allenville),1,0,"Shot - Dead (murder, accidental, suicide)||Dom...",37.1776,-89.6703,NaN,NaN,NaN,NaN
239544,2018-03-30,Colorado,Canon City,2,0,"Shot - Dead (murder, accidental, suicide)||Sui...",38.4651,-105.3090,NaN,NaN,NaN,NaN
239564,2018-03-31,Georgia,Chattooga (county),0,1,Shot - Wounded/Injured||Defensive Use||Defensi...,34.5426,-85.4508,NaN,NaN,NaN,NaN
239579,2018-03-31,Illinois,Dekalb,1,0,Shot - Wounded/Injured||House party,NaN,NaN,NaN,NaN,NaN,NaN
239591,2018-03-31,Virginia,St Paul,0,1,"Shot - Dead (murder, accidental, suicide)",NaN,NaN,NaN,NaN,NaN,NaN
239625,2018-03-31,Maryland,Capitol Heights (Seat Pleasant),0,0,Shots Fired - No Injuries||Officer Involved In...,NaN,NaN,NaN,NaN,NaN,NaN
239644,2018-03-31,New York,Spencerport (Ogden),0,1,Shot - Wounded/Injured||Non-Aggression Inciden...,NaN,NaN,NaN,NaN,NaN,NaN
239671,2018-03-31,Washington,Spokane (Spokane Valley),0,0,Non-Shooting Incident||Possession (gun(s) foun...,47.6638,-117.2350,NaN,NaN,NaN,NaN

In [41]:
guns['city'][16]

'Yuba (county)'

In [42]:
guns.isnull().sum()

date                            0
state_name                      0
city                            0
n_killed                        0
n_injured                       0
incident_characteristics      326
latitude                     7923
longitude                    7923
state_id                    20723
county_name                 20723
density                     20723
zips                        20723
dtype: int64

In [43]:
guns.head()

,date,state_name,city,n_killed,n_injured,incident_characteristics,latitude,longitude,state_id,county_name,density,zips
0,2013-01-01,Pennsylvania,Mckeesport,0,4,Shot - Wounded/Injured||Mass Shooting (4+ vict...,40.3467,-79.8559,NaN,NaN,NaN,NaN
1,2013-01-01,California,Hawthorne,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",33.9090,-118.3330,CA,Los Angeles,5589.0,90250.0
2,2013-01-01,Ohio,Lorain,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",41.4455,-82.1377,OH,Lorain,1039.0,44052.0
3,2013-01-05,Colorado,Aurora,4,0,"Shot - Dead (murder, accidental, suicide)||Off...",39.6518,-104.8020,CO,Adams,909.0,80247.0
4,2013-01-07,North Carolina,Greensboro,2,2,"Shot - Wounded/Injured||Shot - Dead (murder, a...",36.1140,-79.9569,NC,Guilford,874.0,27410.0

In [49]:
guns.head()

,date,state_name,city,n_killed,n_injured,incident_characteristics,latitude,longitude,state_id,county_name,density,zips
0,2013-01-01,Pennsylvania,Mckeesport,0,4,Shot - Wounded/Injured||Mass Shooting (4+ vict...,40.3467,-79.8559,NaN,NaN,NaN,NaN
1,2013-01-01,California,Hawthorne,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",33.9090,-118.3330,CA,Los Angeles,5589.0,90250.0
2,2013-01-01,Ohio,Lorain,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",41.4455,-82.1377,OH,Lorain,1039.0,44052.0
3,2013-01-05,Colorado,Aurora,4,0,"Shot - Dead (murder, accidental, suicide)||Off...",39.6518,-104.8020,CO,Adams,909.0,80247.0
4,2013-01-07,North Carolina,Greensboro,2,2,"Shot - Wounded/Injured||Shot - Dead (murder, a...",36.1140,-79.9569,NC,Guilford,874.0,27410.0