In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
census = pd.read_csv('acs2015_county_data.csv', encoding='latin-1')

In [3]:
census.head()

,CensusId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001,Alabama,Autauga,55221,26745,28476,2.6,75.8,18.5,0.4,...,0.5,1.3,1.8,26.5,23986,73.6,20.9,5.5,0.0,7.6
1,1003,Alabama,Baldwin,195121,95314,99807,4.5,83.1,9.5,0.6,...,1.0,1.4,3.9,26.4,85953,81.5,12.3,5.8,0.4,7.5
2,1005,Alabama,Barbour,26932,14497,12435,4.6,46.2,46.7,0.2,...,1.8,1.5,1.6,24.1,8597,71.8,20.8,7.3,0.1,17.6
3,1007,Alabama,Bibb,22604,12073,10531,2.2,74.5,21.4,0.4,...,0.6,1.5,0.7,28.8,8294,76.8,16.1,6.7,0.4,8.3
4,1009,Alabama,Blount,57710,28512,29198,8.6,87.9,1.5,0.3,...,0.9,0.4,2.3,34.9,22189,82.0,13.5,4.2,0.4,7.7

In [4]:
cities = pd.read_csv('uscitiesv1.4.csv')

In [5]:
cities.head()

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,population_proper,density,source,incorporated,timezone,zips,id
0,Prairie Ridge,Prairie Ridge,WA,Washington,53053,Pierce,47.1443,-122.1408,NaN,NaN,1349.8,polygon,False,America/Los_Angeles,98360 98391,1840037882
1,Edison,Edison,WA,Washington,53057,Skagit,48.5602,-122.4311,NaN,NaN,127.4,polygon,False,America/Los_Angeles,98232,1840017314
2,Packwood,Packwood,WA,Washington,53041,Lewis,46.6085,-121.6702,NaN,NaN,213.9,polygon,False,America/Los_Angeles,98361,1840025265
3,Wautauga Beach,Wautauga Beach,WA,Washington,53035,Kitsap,47.5862,-122.5482,NaN,NaN,261.7,point,False,America/Los_Angeles,98366,1840037725
4,Harper,Harper,WA,Washington,53035,Kitsap,47.5207,-122.5196,NaN,NaN,342.1,point,False,America/Los_Angeles,98366,1840037659

In [6]:
cities.columns

Index(['city', 'city_ascii', 'state_id', 'state_name', 'county_fips',
       'county_name', 'lat', 'lng', 'population', 'population_proper',
       'density', 'source', 'incorporated', 'timezone', 'zips', 'id'],
      dtype='object')

In [7]:
cities.drop(['population', 'population_proper', 'incorporated', 'id', 
             'source', 'city', 'timezone', 'lat', 'lng', 'county_fips', 'zips', 'density'],
            axis=1, inplace=True)

In [8]:
cities.columns

Index(['city_ascii', 'state_id', 'state_name', 'county_name'], dtype='object')

In [10]:
cities.columns = ['city', 'state_id', 'state_name', 'county_name',]

In [11]:
cities.head()

             city state_id  state_name county_name
0   Prairie Ridge       WA  Washington      Pierce
1          Edison       WA  Washington      Skagit
2        Packwood       WA  Washington       Lewis
3  Wautauga Beach       WA  Washington      Kitsap
4          Harper       WA  Washington      Kitsap

In [12]:
cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36650 entries, 0 to 36649
Data columns (total 4 columns):
city           36650 non-null object
state_id       36650 non-null object
state_name     36650 non-null object
county_name    36650 non-null object
dtypes: object(4)
memory usage: 1.1+ MB

In [14]:
cities['city'] = cities['city'].apply(lambda x: x.lower())
cities['county_name'] = cities['county_name'].apply(lambda x: x.lower())

In [15]:
cities.head()

             city state_id  state_name county_name
0   prairie ridge       WA  Washington      pierce
1          edison       WA  Washington      skagit
2        packwood       WA  Washington       lewis
3  wautauga beach       WA  Washington      kitsap
4          harper       WA  Washington      kitsap

In [16]:
guns = pd.read_csv('gun-violence-data_01-2013_03-2018.csv')

In [17]:
guns.head()

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district
0,461105,2013-01-01,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Julian Sims,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN
1,460726,2013-01-01,California,Hawthorne,13500 block of Cerise Avenue,1,3,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Bernard Gillis,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0
2,478855,2013-01-01,Ohio,Lorain,1776 East 28th Street,1,3,http://www.gunviolencearchive.org/incident/478855,http://chronicle.northcoastnow.com/2013/02/14/...,False,...,0::25||1::31||2::33||3::34||4::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,0::Damien Bell||1::Desmen Noble||2::Herman Sea...,NaN,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,http://www.morningjournal.com/general-news/201...,56.0,13.0
3,478925,2013-01-05,Colorado,Aurora,16000 block of East Ithaca Place,4,0,http://www.gunviolencearchive.org/incident/478925,http://www.dailydemocrat.com/20130106/aurora-s...,False,...,0::29||1::33||2::56||3::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Stacie Philbrook||1::Christopher Ratliffe||...,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://denver.cbslocal.com/2013/01/06/officer-...,40.0,28.0
4,478959,2013-01-07,North Carolina,Greensboro,307 Mourning Dove Terrace,2,2,http://www.gunviolencearchive.org/incident/478959,http://www.journalnow.com/news/local/article_d...,False,...,0::18||1::46||2::14||3::47,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Danielle Imani Jameison||1::Maurice Eugene ...,3::Family,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://myfox8.com/2013/01/08/update-mother-sho...,62.0,27.0

In [18]:
guns.columns

Index(['incident_id', 'date', 'state', 'city_or_county', 'address', 'n_killed',
       'n_injured', 'incident_url', 'source_url',
       'incident_url_fields_missing', 'congressional_district', 'gun_stolen',
       'gun_type', 'incident_characteristics', 'latitude',
       'location_description', 'longitude', 'n_guns_involved', 'notes',
       'participant_age', 'participant_age_group', 'participant_gender',
       'participant_name', 'participant_relationship', 'participant_status',
       'participant_type', 'sources', 'state_house_district',
       'state_senate_district'],
      dtype='object')

In [19]:
guns.drop(axis=1, inplace=True, 
          labels=['incident_id', 'address', 'incident_url', 'source_url',
                  'incident_url_fields_missing', 'congressional_district', 'gun_stolen', 
                  'gun_type', 'location_description', 'n_guns_involved', 'notes', 
                  'participant_age', 'participant_age_group', 'participant_gender', 
                  'participant_name', 'participant_relationship', 'participant_status', 
                  'participant_type', 'sources', 'state_house_district',  'state_senate_district',])

In [20]:
guns.head()

,date,state,city_or_county,n_killed,n_injured,incident_characteristics,latitude,longitude
0,2013-01-01,Pennsylvania,Mckeesport,0,4,Shot - Wounded/Injured||Mass Shooting (4+ vict...,40.3467,-79.8559
1,2013-01-01,California,Hawthorne,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",33.9090,-118.3330
2,2013-01-01,Ohio,Lorain,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",41.4455,-82.1377
3,2013-01-05,Colorado,Aurora,4,0,"Shot - Dead (murder, accidental, suicide)||Off...",39.6518,-104.8020
4,2013-01-07,North Carolina,Greensboro,2,2,"Shot - Wounded/Injured||Shot - Dead (murder, a...",36.1140,-79.9569

In [21]:
guns.columns

Index(['date', 'state', 'city_or_county', 'n_killed', 'n_injured',
       'incident_characteristics', 'latitude', 'longitude'],
      dtype='object')

In [22]:
guns.columns = ['date', 'state_name', 'city', 'n_killed', 'n_injured',
       'incident_characteristics', 'latitude', 'longitude',]

In [23]:
guns.columns

Index(['date', 'state_name', 'city', 'n_killed', 'n_injured',
       'incident_characteristics', 'latitude', 'longitude'],
      dtype='object')

In [24]:
guns.head()

,date,state_name,city,n_killed,n_injured,incident_characteristics,latitude,longitude
0,2013-01-01,Pennsylvania,Mckeesport,0,4,Shot - Wounded/Injured||Mass Shooting (4+ vict...,40.3467,-79.8559
1,2013-01-01,California,Hawthorne,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",33.9090,-118.3330
2,2013-01-01,Ohio,Lorain,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",41.4455,-82.1377
3,2013-01-05,Colorado,Aurora,4,0,"Shot - Dead (murder, accidental, suicide)||Off...",39.6518,-104.8020
4,2013-01-07,North Carolina,Greensboro,2,2,"Shot - Wounded/Injured||Shot - Dead (murder, a...",36.1140,-79.9569

In [25]:
guns['city'].head()

0    Mckeesport
1     Hawthorne
2        Lorain
3        Aurora
4    Greensboro
Name: city, dtype: object

In [26]:
guns['city'] = guns['city'].apply(lambda x: x.lower())

In [27]:
def remove_non_county_parentheses(row):
    if 'county' in row['city']:
        return row['city']
    else:
        if '(' in row['city']:
            return row['city'].split(' (')[0]
        else:
            return row['city']

In [28]:
guns['city'] = guns.apply(remove_non_county_parentheses, axis=1)

In [29]:
guns.head()

,date,state_name,city,n_killed,n_injured,incident_characteristics,latitude,longitude
0,2013-01-01,Pennsylvania,mckeesport,0,4,Shot - Wounded/Injured||Mass Shooting (4+ vict...,40.3467,-79.8559
1,2013-01-01,California,hawthorne,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",33.9090,-118.3330
2,2013-01-01,Ohio,lorain,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",41.4455,-82.1377
3,2013-01-05,Colorado,aurora,4,0,"Shot - Dead (murder, accidental, suicide)||Off...",39.6518,-104.8020
4,2013-01-07,North Carolina,greensboro,2,2,"Shot - Wounded/Injured||Shot - Dead (murder, a...",36.1140,-79.9569

In [30]:
cities.head()

             city state_id  state_name county_name
0   prairie ridge       WA  Washington      pierce
1          edison       WA  Washington      skagit
2        packwood       WA  Washington       lewis
3  wautauga beach       WA  Washington      kitsap
4          harper       WA  Washington      kitsap

In [31]:
city_state = cities.drop(axis=1, labels=['state_id',])
city_state.head()

             city  state_name county_name
0   prairie ridge  Washington      pierce
1          edison  Washington      skagit
2        packwood  Washington       lewis
3  wautauga beach  Washington      kitsap
4          harper  Washington      kitsap

In [32]:
cities.columns

Index(['city', 'state_id', 'state_name', 'county_name'], dtype='object')

In [33]:
state_ids = cities.drop(axis=1, labels=['city', 'county_name'])
state_ids.drop_duplicates('state_name', inplace=True)
state_ids.head()

     state_id            state_name
0          WA            Washington
842        VA              Virginia
1590       DE              Delaware
1684       DC  District of Columbia
1685       WI             Wisconsin

In [34]:
state_ids.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53 entries, 0 to 36208
Data columns (total 2 columns):
state_id      53 non-null object
state_name    53 non-null object
dtypes: object(2)
memory usage: 1.2+ KB

In [35]:
gunscounties = guns.merge(right=city_state, how='left', on=['city', 'state_name'], validate='many_to_one')

In [36]:
gunscounties.head()

,date,state_name,city,n_killed,n_injured,incident_characteristics,latitude,longitude,county_name
0,2013-01-01,Pennsylvania,mckeesport,0,4,Shot - Wounded/Injured||Mass Shooting (4+ vict...,40.3467,-79.8559,allegheny
1,2013-01-01,California,hawthorne,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",33.9090,-118.3330,los angeles
2,2013-01-01,Ohio,lorain,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",41.4455,-82.1377,lorain
3,2013-01-05,Colorado,aurora,4,0,"Shot - Dead (murder, accidental, suicide)||Off...",39.6518,-104.8020,adams
4,2013-01-07,North Carolina,greensboro,2,2,"Shot - Wounded/Injured||Shot - Dead (murder, a...",36.1140,-79.9569,guilford

In [37]:
gunscounties.to_csv('guns_cities.csv', index=False)

In [38]:
guns = pd.read_csv('guns_cities.csv')

In [39]:
guns.head()

,date,state_name,city,n_killed,n_injured,incident_characteristics,latitude,longitude,county_name
0,2013-01-01,Pennsylvania,mckeesport,0,4,Shot - Wounded/Injured||Mass Shooting (4+ vict...,40.3467,-79.8559,allegheny
1,2013-01-01,California,hawthorne,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",33.9090,-118.3330,los angeles
2,2013-01-01,Ohio,lorain,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",41.4455,-82.1377,lorain
3,2013-01-05,Colorado,aurora,4,0,"Shot - Dead (murder, accidental, suicide)||Off...",39.6518,-104.8020,adams
4,2013-01-07,North Carolina,greensboro,2,2,"Shot - Wounded/Injured||Shot - Dead (murder, a...",36.1140,-79.9569,guilford

In [40]:
guns[guns['county_name'].isnull()]

,date,state_name,city,n_killed,n_injured,incident_characteristics,latitude,longitude,county_name
16,2013-02-03,California,yuba (county),1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",39.1236,-121.5830,NaN
22,2013-02-19,California,orange (county),4,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",33.8031,-117.9430,NaN
29,2013-03-03,Michigan,saginaw (county),0,4,Shot - Wounded/Injured||Mass Shooting (4+ vict...,43.3944,-83.9082,NaN
44,2013-03-30,California,merced (county),3,2,"Shot - Wounded/Injured||Shot - Dead (murder, a...",37.3603,-120.6540,NaN
78,2013-05-18,New York,jamaica,1,0,"Shot - Dead (murder, accidental, suicide)||Gan...",40.6730,-73.7881,NaN
94,2013-06-02,Georgia,lagrange,0,7,Shot - Wounded/Injured||Mass Shooting (4+ vict...,33.0354,-85.0244,NaN
162,2013-08-06,New Jersey,montclair,0,4,Shot - Wounded/Injured||Mass Shooting (4+ vict...,40.8057,-74.2128,NaN
194,2013-09-16,District of Columbia,washington navy yard,11,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",38.8730,-76.9977,NaN
220,2013-10-13,Pennsylvania,wilkes barre,1,0,"Shot - Dead (murder, accidental, suicide)||Ins...",41.2350,-75.9011,NaN
239,2013-11-09,Texas,cypress,2,16,"Shot - Wounded/Injured||Shot - Dead (murder, a...",29.8840,-95.7187,NaN
269,2013-12-25,New Jersey,irvington,3,2,"Shot - Wounded/Injured||Shot - Dead (murder, a...",40.7217,-74.2217,NaN
286,2014-01-01,Georgia,bibb county,0,1,Shot - Wounded/Injured,32.7866,-83.7199,NaN
287,2014-01-01,Virginia,prince william county,0,1,Shot - Wounded/Injured,38.7765,-77.4996,NaN
320,2014-01-01,Alabama,crenshaw,1,0,"Shot - Dead (murder, accidental, suicide)",31.7839,-86.1926,NaN
343,2014-01-01,North Carolina,duplin county,0,1,Shot - Wounded/Injured,34.9624,-77.9622,NaN
363,2014-01-01,New Jersey,gloucester township,0,0,Armed robbery with injury/death and/or evidenc...,39.8258,-75.0659,NaN
364,2014-01-01,New Jersey,mount laurel,0,2,Armed robbery with injury/death and/or evidenc...,39.9168,-74.9485,NaN
365,2014-01-01,New Jersey,belleville,0,0,Armed robbery with injury/death and/or evidenc...,40.7951,-74.1562,NaN
370,2014-01-01,Mississippi,franklin,0,0,Shots Fired - No Injuries||Officer Involved In...,33.0363,-90.0028,NaN
382,2014-01-01,Oklahoma,okmulgee county,0,2,Shot - Wounded/Injured||Possession of gun by f...,35.5711,-96.0152,NaN
398,2014-01-01,Connecticut,cromwell,0,1,Shot - Wounded/Injured,41.6024,-72.6964,NaN
422,2014-01-01,Virginia,russell county,1,0,"Shot - Dead (murder, accidental, suicide)",36.9303,-82.2722,NaN
451,2014-01-01,Kentucky,leslie county,0,1,Pistol-whipping,37.0698,-83.3789,NaN
452,2014-01-01,Washington,cape horn,0,1,Shot - Wounded/Injured||Accidental Shooting||A...,47.6573,-120.9170,NaN
458,2014-01-01,Kentucky,elliott county,0,1,Shot - Wounded/Injured,38.1190,-83.1214,NaN
467,2014-01-01,North Carolina,davidson county,1,1,"Shot - Wounded/Injured||Shot - Dead (murder, a...",35.8689,-80.2366,NaN
479,2014-01-01,Louisiana,richland parish (county),0,1,Shot - Wounded/Injured||Accidental Shooting||A...,32.3887,-91.7928,NaN
490,2014-01-01,North Carolina,columbus county,1,0,"Shot - Dead (murder, accidental, suicide)",34.2022,-78.9474,NaN
492,2014-01-01,Ohio,miami township,0,0,Shots Fired - No Injuries,39.6077,-84.3014,NaN
495,2014-01-02,Maryland,prince george's county,0,0,Drug involvement||Possession (gun(s) found dur...,38.9596,-76.9571,NaN
...,...,...,...,...,...,...,...,...,...
238717,2018-03-25,South Carolina,darlington (county),0,1,Shot - Wounded/Injured||Home Invasion||Home In...,NaN,NaN,NaN
238752,2018-03-25,Alaska,barrow,1,0,"Shot - Dead (murder, accidental, suicide)||Acc...",70.6698,-155.1430,NaN
238814,2018-03-25,Maryland,carroll (county),0,0,Non-Shooting Incident||Drug involvement||Posse...,NaN,NaN,NaN
238827,2018-03-25,Michigan,leroy,0,0,Shots Fired - No Injuries||Home Invasion||Home...,NaN,NaN,NaN
238830,2018-03-25,Florida,baker (county),0,0,Non-Shooting Incident||Possession (gun(s) foun...,30.3219,-82.2113,NaN
238847,2018-03-26,New York,fort drum,0,1,Shot - Wounded/Injured||Institution/Group/Busi...,44.0278,-75.7709,NaN
238879,2018-03-26,Massachusetts,charlton,0,0,Non-Shooting Incident||Possession (gun(s) foun...,42.1699,-71.9802,NaN
238882,2018-03-26,Illinois,owen,0,0,Non-Shooting Incident||Officer Involved Incide...,42.4119,-89.0787,NaN
238886,2018-03-26,Alabama,pine bluff,1,0,"Shot - Dead (murder, accidental, suicide)",32.0020,-87.5763,NaN
238890,2018-03-26,Texas,cypress,2,1,"Shot - Wounded/Injured||Shot - Dead (murder, a...",29.9852,-95.7023,NaN
238893,2018-03-26,Wisconsin,rockton,0,0,Non-Shooting Incident||Drug involvement||ATF/L...,NaN,NaN,NaN
238928,2018-03-26,Georgia,warren (county),0,0,Shots Fired - No Injuries||Defensive Use||Defe...,NaN,NaN,NaN
238991,2018-03-27,New York,corona,0,0,Non-Shooting Incident||Drug involvement||ATF/L...,40.7580,-73.8627,NaN
238992,2018-03-27,Kansas,dickinson (county),1,0,"Shot - Dead (murder, accidental, suicide)||Sui...",38.9438,-97.1793,NaN
239054,2018-03-27,Connecticut,wolcott,0,0,Non-Shooting Incident||Drug involvement||ATF/L...,NaN,NaN,NaN
239143,2018-03-28,Michigan,branch (county),0,1,Shot - Wounded/Injured||Home Invasion||Home In...,41.8400,-84.8348,NaN
239194,2018-03-28,Tennessee,hermitage,1,0,"Shot - Dead (murder, accidental, suicide)||Hom...",36.1995,-86.5994,NaN
239204,2018-03-28,Michigan,south shore,0,1,Shot - Wounded/Injured,NaN,NaN,NaN
239226,2018-03-28,Georgia,lagrange,0,0,Institution/Group/Business||Non-Shooting Incid...,32.9649,-85.1256,NaN
239314,2018-03-29,Texas,adkins,1,0,"Shot - Dead (murder, accidental, suicide)||Bar...",29.3713,-98.2684,NaN
239363,2018-03-29,Tennessee,madison,0,1,Shot - Wounded/Injured,36.2663,-86.6869,NaN
239378,2018-03-29,California,tujunga,0,1,Shot - Wounded/Injured||Domestic Violence,34.2639,-118.2970,NaN
239391,2018-03-29,Georgia,troup (county),0,1,Shot - Wounded/Injured,33.0410,-84.9708,NaN
239400,2018-03-29,Oregon,cowlitz (county),0,0,Shots Fired - No Injuries||Road rage||ATF/LE C...,NaN,NaN,NaN
239455,2018-03-30,North Carolina,winston salem,1,0,"Shot - Dead (murder, accidental, suicide)||Off...",NaN,NaN,NaN
239473,2018-03-30,New York,corona,0,1,Shot - Wounded/Injured||Defensive Use||Defensi...,NaN,NaN,NaN
239512,2018-03-30,California,granada hills,0,0,Non-Shooting Incident||Officer Involved Incide...,34.2841,-118.5110,NaN
239515,2018-03-30,Arkansas,hot springs national park,0,0,Shots Fired - No Injuries||Possession of gun b...,34.4928,-93.0583,NaN
239564,2018-03-31,Georgia,chattooga (county),0,1,Shot - Wounded/Injured||Defensive Use||Defensi...,34.5426,-85.4508,NaN
239591,2018-03-31,Virginia,st paul,0,1,"Shot - Dead (murder, accidental, suicide)",NaN,NaN,NaN

In [41]:
guns.isnull().sum()

date                            0
state_name                      0
city                            0
n_killed                        0
n_injured                       0
incident_characteristics      326
latitude                     7923
longitude                    7923
county_name                 13455
dtype: int64

In [42]:
guns.head(10)

,date,state_name,city,n_killed,n_injured,incident_characteristics,latitude,longitude,county_name
0,2013-01-01,Pennsylvania,mckeesport,0,4,Shot - Wounded/Injured||Mass Shooting (4+ vict...,40.3467,-79.8559,allegheny
1,2013-01-01,California,hawthorne,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",33.9090,-118.3330,los angeles
2,2013-01-01,Ohio,lorain,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",41.4455,-82.1377,lorain
3,2013-01-05,Colorado,aurora,4,0,"Shot - Dead (murder, accidental, suicide)||Off...",39.6518,-104.8020,adams
4,2013-01-07,North Carolina,greensboro,2,2,"Shot - Wounded/Injured||Shot - Dead (murder, a...",36.1140,-79.9569,guilford
5,2013-01-07,Oklahoma,tulsa,4,0,"Shot - Dead (murder, accidental, suicide)||Hom...",36.2405,-95.9768,tulsa
6,2013-01-19,New Mexico,albuquerque,5,0,"Shot - Dead (murder, accidental, suicide)||Mas...",34.9791,-106.7160,bernalillo
7,2013-01-21,Louisiana,new orleans,0,5,Shot - Wounded/Injured||Drive-by (car to stree...,29.9435,-90.0836,orleans
8,2013-01-21,California,brentwood,0,4,Shot - Wounded/Injured||Drive-by (car to stree...,37.9656,-121.7180,contra costa
9,2013-01-23,Maryland,baltimore,1,6,"Shot - Wounded/Injured||Shot - Dead (murder, a...",39.2899,-76.6412,baltimore (city)

In [43]:
def new_county_name(row):
    if 'county' in row['city']:
        _ = row['city'].split()[:-1]
        return ' '.join(_)
        
    else:
        if type(row['county_name']) == str:
            _ =  row['county_name'].replace('(', '')
            _ = _.replace(')', '')
            return _
        else:
            return None

In [44]:
guns['county_name'] = guns.apply(new_county_name, axis=1)

In [45]:
guns.head(50)

,date,state_name,city,n_killed,n_injured,incident_characteristics,latitude,longitude,county_name
0,2013-01-01,Pennsylvania,mckeesport,0,4,Shot - Wounded/Injured||Mass Shooting (4+ vict...,40.3467,-79.8559,allegheny
1,2013-01-01,California,hawthorne,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",33.9090,-118.3330,los angeles
2,2013-01-01,Ohio,lorain,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",41.4455,-82.1377,lorain
3,2013-01-05,Colorado,aurora,4,0,"Shot - Dead (murder, accidental, suicide)||Off...",39.6518,-104.8020,adams
4,2013-01-07,North Carolina,greensboro,2,2,"Shot - Wounded/Injured||Shot - Dead (murder, a...",36.1140,-79.9569,guilford
5,2013-01-07,Oklahoma,tulsa,4,0,"Shot - Dead (murder, accidental, suicide)||Hom...",36.2405,-95.9768,tulsa
6,2013-01-19,New Mexico,albuquerque,5,0,"Shot - Dead (murder, accidental, suicide)||Mas...",34.9791,-106.7160,bernalillo
7,2013-01-21,Louisiana,new orleans,0,5,Shot - Wounded/Injured||Drive-by (car to stree...,29.9435,-90.0836,orleans
8,2013-01-21,California,brentwood,0,4,Shot - Wounded/Injured||Drive-by (car to stree...,37.9656,-121.7180,contra costa
9,2013-01-23,Maryland,baltimore,1,6,"Shot - Wounded/Injured||Shot - Dead (murder, a...",39.2899,-76.6412,baltimore city
10,2013-01-23,Tennessee,chattanooga,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",35.0221,-85.2697,hamilton
11,2013-01-25,Missouri,saint louis,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",38.7067,-90.2494,st. louis city
12,2013-01-26,Louisiana,charenton,2,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",29.8816,-91.5251,st. mary
13,2013-01-26,District of Columbia,washington,0,5,Shot - Wounded/Injured||Mass Shooting (4+ vict...,38.8978,-76.9717,district of columbia
14,2013-01-26,Ohio,springfield,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",39.9252,-83.8218,clark
15,2013-02-02,Tennessee,memphis,0,5,Shot - Wounded/Injured||Mass Shooting (4+ vict...,35.0803,-89.8871,shelby
16,2013-02-03,California,yuba (county),1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",39.1236,-121.5830,yuba
17,2013-02-07,Illinois,chicago,0,4,Shot - Wounded/Injured||Drive-by (car to stree...,41.7592,-87.5628,cook
18,2013-02-09,Louisiana,new orleans,0,4,Shot - Wounded/Injured||Mass Shooting (4+ vict...,29.9563,-90.0676,orleans
19,2013-02-11,California,vallejo,1,4,"Shot - Wounded/Injured||Shot - Dead (murder, a...",38.1072,-122.2280,solano
20,2013-02-11,Delaware,wilmington,3,2,"Shot - Wounded/Injured||Shot - Dead (murder, a...",39.7407,-75.5499,new castle
21,2013-02-12,Utah,midvale,4,1,"Shot - Wounded/Injured||Shot - Dead (murder, a...",40.6008,-111.9030,salt lake
22,2013-02-19,California,orange (county),4,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",33.8031,-117.9430,orange
23,2013-02-21,Oklahoma,tulsa,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",36.1722,-95.8778,tulsa
24,2013-02-22,Michigan,grand rapids,0,4,Shot - Wounded/Injured||Mass Shooting (4+ vict...,42.9371,-85.6853,kent
25,2013-02-23,California,lancaster,0,4,Shot - Wounded/Injured||Mass Shooting (4+ vict...,34.6666,-118.1310,los angeles
26,2013-02-24,Georgia,macon,0,8,Shot - Wounded/Injured||Mass Shooting (4+ vict...,32.8260,-83.6704,bibb
27,2013-03-02,Louisiana,shreveport,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",32.4420,-93.7726,caddo
28,2013-03-03,Georgia,moultrie,2,2,"Shot - Wounded/Injured||Shot - Dead (murder, a...",31.1824,-83.7912,colquitt
29,2013-03-03,Michigan,saginaw (county),0,4,Shot - Wounded/Injured||Mass Shooting (4+ vict...,43.3944,-83.9082,saginaw
30,2013-03-04,California,los banos,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",37.0857,-120.8280,merced
31,2013-03-05,Indiana,indianapolis,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",39.7927,-86.0328,marion
32,2013-03-07,Mississippi,jackson,2,2,"Shot - Wounded/Injured||Shot - Dead (murder, a...",32.2649,-90.2141,hinds
33,2013-03-10,Missouri,kansas city,0,5,Shot - Wounded/Injured||Institution/Group/Busi...,38.9550,-94.5211,jackson
34,2013-03-11,District of Columbia,washington,0,13,Shot - Wounded/Injured||Drive-by (car to stree...,38.9062,-77.0099,district of columbia
35,2013-03-13,California,oceanside,2,2,"Shot - Wounded/Injured||Shot - Dead (murder, a...",33.2498,-117.3090,san diego
36,2013-03-13,New York,mohawk,6,2,"Shot - Wounded/Injured||Shot - Dead (murder, a...",43.0110,-75.0058,herkimer
37,2013-03-14,California,modesto,0,4,Shot - Wounded/Injured||Drive-by (car to stree...,37.6260,-121.0110,stanislaus
38,2013-03-16,California,galt,0,7,Shot - Wounded/Injured||Drive-by (car to stree...,38.2436,-121.3120,sacramento
39,2013-03-17,California,stockton,2,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",37.9531,-121.2660,san joaquin
40,2013-03-17,Florida,belle glade,0,5,Shot - Wounded/Injured||Mass Shooting (4+ vict...,26.6968,-80.6837,palm beach
41,2013-03-21,Illinois,chicago,0,7,Shot - Wounded/Injured||Mass Shooting (4+ vict...,41.7358,-87.6631,cook
42,2013-03-21,Missouri,kansas city,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",39.0383,-94.5849,jackson
43,2013-03-22,New York,brooklyn,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",40.5803,-74.0005,kings
44,2013-03-30,California,merced (county),3,2,"Shot - Wounded/Injured||Shot - Dead (murder, a...",37.3603,-120.6540,merced
45,2013-03-31,Washington,auburn,3,2,"Shot - Wounded/Injured||Shot - Dead (murder, a...",47.3149,-122.2240,king
46,2013-04-06,South Carolina,greenwood,1,4,"Shot - Wounded/Injured||Shot - Dead (murder, a...",34.1868,-82.1638,greenwood
47,2013-04-07,New York,new york,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",40.9018,-73.8511,new york
48,2013-04-07,California,long beach,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",33.8479,-118.1900,los angeles
49,2013-04-09,Pennsylvania,philadelphia,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",39.9924,-75.1300,philadelphia

In [46]:
def no_shots(row):
    if (row['n_killed'] == 0) and (row['n_injured'] == 0):
        return True
    else:
        return False

In [47]:
guns['no_shots'] = guns.apply(no_shots, axis=1)

In [48]:
guns.drop(guns[guns['no_shots'] == True].index, inplace=True)
guns.drop('no_shots', axis=1, inplace=True)

In [49]:
guns.isnull().count()

date                        142390
state_name                  142390
city                        142390
n_killed                    142390
n_injured                   142390
incident_characteristics    142390
latitude                    142390
longitude                   142390
county_name                 142390
dtype: int64

In [50]:
guns.count()

date                        142390
state_name                  142390
city                        142390
n_killed                    142390
n_injured                   142390
incident_characteristics    142206
latitude                    136700
longitude                   136700
county_name                 138879
dtype: int64

In [51]:
guns[(guns['county_name'].isnull()) & (guns['state_name'] == 'District of Columbia')]

,date,state_name,city,n_killed,n_injured,incident_characteristics,latitude,longitude,county_name
194,2013-09-16,District of Columbia,washington navy yard,11,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",38.8730,-76.9977,None
9062,2014-03-13,District of Columbia,anacostia,1,0,"Shot - Dead (murder, accidental, suicide)",38.8589,-77.0080,None
61580,2015-03-19,District of Columbia,district of columbia,1,0,"Shot - Dead (murder, accidental, suicide)",38.8281,-77.0032,None
63778,2015-04-03,District of Columbia,seat pleasant,1,0,"Shot - Dead (murder, accidental, suicide)",38.8944,-76.9114,None
113353,2016-02-23,District of Columbia,naval anacost annex,0,1,Shot - Wounded/Injured||Armed robbery with inj...,38.8587,-77.0098,None

In [52]:
guns.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 142390 entries, 0 to 239676
Data columns (total 9 columns):
date                        142390 non-null object
state_name                  142390 non-null object
city                        142390 non-null object
n_killed                    142390 non-null int64
n_injured                   142390 non-null int64
incident_characteristics    142206 non-null object
latitude                    136700 non-null float64
longitude                   136700 non-null float64
county_name                 138879 non-null object
dtypes: float64(2), int64(2), object(5)
memory usage: 10.9+ MB

In [53]:
guns[guns['county_name'].isnull()]

,date,state_name,city,n_killed,n_injured,incident_characteristics,latitude,longitude,county_name
78,2013-05-18,New York,jamaica,1,0,"Shot - Dead (murder, accidental, suicide)||Gan...",40.6730,-73.7881,None
94,2013-06-02,Georgia,lagrange,0,7,Shot - Wounded/Injured||Mass Shooting (4+ vict...,33.0354,-85.0244,None
162,2013-08-06,New Jersey,montclair,0,4,Shot - Wounded/Injured||Mass Shooting (4+ vict...,40.8057,-74.2128,None
194,2013-09-16,District of Columbia,washington navy yard,11,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",38.8730,-76.9977,None
220,2013-10-13,Pennsylvania,wilkes barre,1,0,"Shot - Dead (murder, accidental, suicide)||Ins...",41.2350,-75.9011,None
239,2013-11-09,Texas,cypress,2,16,"Shot - Wounded/Injured||Shot - Dead (murder, a...",29.8840,-95.7187,None
269,2013-12-25,New Jersey,irvington,3,2,"Shot - Wounded/Injured||Shot - Dead (murder, a...",40.7217,-74.2217,None
320,2014-01-01,Alabama,crenshaw,1,0,"Shot - Dead (murder, accidental, suicide)",31.7839,-86.1926,None
364,2014-01-01,New Jersey,mount laurel,0,2,Armed robbery with injury/death and/or evidenc...,39.9168,-74.9485,None
398,2014-01-01,Connecticut,cromwell,0,1,Shot - Wounded/Injured,41.6024,-72.6964,None
452,2014-01-01,Washington,cape horn,0,1,Shot - Wounded/Injured||Accidental Shooting||A...,47.6573,-120.9170,None
499,2014-01-02,California,huntington,0,1,Shot - Wounded/Injured||Drug involvement||Arme...,33.7201,-117.9850,None
573,2014-01-02,Florida,greenacres,0,1,Shot - Wounded/Injured,26.6293,-80.1350,None
606,2014-01-02,Nevada,green valley,0,2,Shot - Wounded/Injured,36.0226,-115.0670,None
662,2014-01-03,West Virginia,wilkinson,0,1,Shot - Wounded/Injured,37.8259,-81.9983,None
761,2014-01-04,Louisiana,iberia parish,0,1,Shot - Wounded/Injured,30.0089,-91.8401,None
830,2014-01-04,New York,mendon,0,2,Shot - Wounded/Injured||Accidental Shooting||A...,42.9976,-77.4788,None
851,2014-01-04,Virginia,henrico,0,1,Shot - Wounded/Injured,37.6221,-77.5381,None
865,2014-01-04,New York,mendon,0,1,Accidental Shooting||Accidental/Negligent Disc...,42.9998,-77.5056,None
897,2014-01-05,Maryland,lothian,0,1,Pistol-whipping,38.8173,-76.6920,None
929,2014-01-05,Ohio,erie,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",40.0886,-82.9293,None
951,2014-01-05,New Jersey,orange,0,1,Shot - Wounded/Injured,40.7583,-74.2489,None
1050,2014-01-06,Tennessee,antioch,0,1,Armed robbery with injury/death and/or evidenc...,36.0465,-86.6400,None
1321,2014-01-08,Ohio,langsville,0,1,Shot - Wounded/Injured,39.0214,-82.2336,None
1348,2014-01-08,California,encino,0,1,Shot - Wounded/Injured,34.1589,-118.5220,None
1370,2014-01-08,California,van nuys,1,0,"Shot - Dead (murder, accidental, suicide)",34.1826,-118.4530,None
1547,2014-01-10,California,hollywood,0,1,Shot - Wounded/Injured,34.0898,-118.3500,None
1596,2014-01-10,New Jersey,pennsauken,0,1,Shot - Wounded/Injured||Armed robbery with inj...,39.9624,-75.0594,None
1613,2014-01-10,California,jurupa valley,1,0,"Shot - Dead (murder, accidental, suicide)",33.9972,-117.4850,None
1759,2014-01-11,Connecticut,plainfield,0,1,Officer Involved Incident||Officer Involved Sh...,41.6720,-71.9097,None
...,...,...,...,...,...,...,...,...,...
238183,2018-03-21,Maryland,faulkner,0,1,Shot - Wounded/Injured||Institution/Group/Busi...,38.4145,-76.9629,None
238259,2018-03-22,Tennessee,hermitage,0,1,Shot - Wounded/Injured||Drive-by (car to stree...,36.1804,-86.6063,None
238262,2018-03-22,Virginia,aroda,0,1,Shot - Wounded/Injured,38.3277,-78.2381,None
238275,2018-03-22,New York,corona,0,2,Shot - Wounded/Injured,NaN,NaN,None
238300,2018-03-22,New York,corona,1,0,"Shot - Dead (murder, accidental, suicide)||Ins...",NaN,NaN,None
238340,2018-03-22,Arkansas,hot springs national park,1,0,"Shot - Dead (murder, accidental, suicide)",34.5032,-93.0245,None
238359,2018-03-23,Tennessee,whites creek,0,1,Shot - Wounded/Injured||Car-jacking,36.2768,-86.7966,None
238361,2018-03-23,Tennessee,mc ewen,0,1,Shot - Wounded/Injured||Home Invasion||Home In...,36.1049,-87.6305,None
238430,2018-03-23,Arkansas,valley township,0,1,Shot - Wounded/Injured||Drug involvement,35.9067,-94.2821,None
238499,2018-03-24,New York,corona,1,0,"Shot - Dead (murder, accidental, suicide)",NaN,NaN,None
238503,2018-03-24,Florida,opa locka,0,1,Shot - Wounded/Injured,NaN,NaN,None
238518,2018-03-24,Florida,ocklawaha,0,1,Shot - Wounded/Injured||ATF/LE Confiscation/Ra...,29.0391,-81.9206,None
238549,2018-03-24,New Jersey,maplewood,1,0,"Shot - Dead (murder, accidental, suicide)||Ins...",40.7227,-74.2548,None
238551,2018-03-24,New Jersey,irvington,1,1,"Shot - Wounded/Injured||Shot - Dead (murder, a...",40.7318,-74.2198,None
238575,2018-03-24,Virginia,keswick,1,0,"Shot - Dead (murder, accidental, suicide)||Dom...",38.0091,-78.3784,None
238576,2018-03-24,Michigan,macomb,0,1,Shot - Wounded/Injured||Institution/Group/Busi...,42.6431,-82.9002,None
238602,2018-03-24,California,wilmington,1,0,"Shot - Dead (murder, accidental, suicide)",NaN,NaN,None
238664,2018-03-24,Mississippi,diberville,0,1,Shot - Wounded/Injured||Institution/Group/Busi...,30.4575,-88.8885,None
238752,2018-03-25,Alaska,barrow,1,0,"Shot - Dead (murder, accidental, suicide)||Acc...",70.6698,-155.1430,None
238847,2018-03-26,New York,fort drum,0,1,Shot - Wounded/Injured||Institution/Group/Busi...,44.0278,-75.7709,None
238886,2018-03-26,Alabama,pine bluff,1,0,"Shot - Dead (murder, accidental, suicide)",32.0020,-87.5763,None
238890,2018-03-26,Texas,cypress,2,1,"Shot - Wounded/Injured||Shot - Dead (murder, a...",29.9852,-95.7023,None
239194,2018-03-28,Tennessee,hermitage,1,0,"Shot - Dead (murder, accidental, suicide)||Hom...",36.1995,-86.5994,None
239204,2018-03-28,Michigan,south shore,0,1,Shot - Wounded/Injured,NaN,NaN,None
239314,2018-03-29,Texas,adkins,1,0,"Shot - Dead (murder, accidental, suicide)||Bar...",29.3713,-98.2684,None
239363,2018-03-29,Tennessee,madison,0,1,Shot - Wounded/Injured,36.2663,-86.6869,None
239378,2018-03-29,California,tujunga,0,1,Shot - Wounded/Injured||Domestic Violence,34.2639,-118.2970,None
239455,2018-03-30,North Carolina,winston salem,1,0,"Shot - Dead (murder, accidental, suicide)||Off...",NaN,NaN,None
239473,2018-03-30,New York,corona,0,1,Shot - Wounded/Injured||Defensive Use||Defensi...,NaN,NaN,None
239591,2018-03-31,Virginia,st paul,0,1,"Shot - Dead (murder, accidental, suicide)",NaN,NaN,None

In [54]:
guns_null = guns[guns['county_name'].isnull()]

In [55]:
guns_null.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3511 entries, 78 to 239591
Data columns (total 9 columns):
date                        3511 non-null object
state_name                  3511 non-null object
city                        3511 non-null object
n_killed                    3511 non-null int64
n_injured                   3511 non-null int64
incident_characteristics    3510 non-null object
latitude                    3389 non-null float64
longitude                   3389 non-null float64
county_name                 0 non-null object
dtypes: float64(2), int64(2), object(5)
memory usage: 274.3+ KB

In [56]:
guns_null.to_csv('guns_null.csv', index=False)

In [57]:
guns_null.count()

date                        3511
state_name                  3511
city                        3511
n_killed                    3511
n_injured                   3511
incident_characteristics    3510
latitude                    3389
longitude                   3389
county_name                    0
dtype: int64

In [58]:
guns_null.nunique()

date                        1399
state_name                    49
city                        1283
n_killed                       9
n_injured                     11
incident_characteristics     857
latitude                    3114
longitude                   3050
county_name                    0
dtype: int64

In [59]:
guns['n_killed'].sum()

60468

In [60]:
guns_null['n_killed'].sum()

1876

In [61]:
guns.drop(guns[guns['county_name'].isnull()].index, inplace=True)

In [62]:
guns.head()

,date,state_name,city,n_killed,n_injured,incident_characteristics,latitude,longitude,county_name
0,2013-01-01,Pennsylvania,mckeesport,0,4,Shot - Wounded/Injured||Mass Shooting (4+ vict...,40.3467,-79.8559,allegheny
1,2013-01-01,California,hawthorne,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",33.9090,-118.3330,los angeles
2,2013-01-01,Ohio,lorain,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",41.4455,-82.1377,lorain
3,2013-01-05,Colorado,aurora,4,0,"Shot - Dead (murder, accidental, suicide)||Off...",39.6518,-104.8020,adams
4,2013-01-07,North Carolina,greensboro,2,2,"Shot - Wounded/Injured||Shot - Dead (murder, a...",36.1140,-79.9569,guilford

In [63]:
guns.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 138879 entries, 0 to 239676
Data columns (total 9 columns):
date                        138879 non-null object
state_name                  138879 non-null object
city                        138879 non-null object
n_killed                    138879 non-null int64
n_injured                   138879 non-null int64
incident_characteristics    138696 non-null object
latitude                    133311 non-null float64
longitude                   133311 non-null float64
county_name                 138879 non-null object
dtypes: float64(2), int64(2), object(5)
memory usage: 10.6+ MB

In [65]:
gunstateids = guns.merge(right=state_ids, how='left', on=['state_name',], validate='many_to_one')
gunstateids.head()

,date,state_name,city,n_killed,n_injured,incident_characteristics,latitude,longitude,county_name,state_id
0,2013-01-01,Pennsylvania,mckeesport,0,4,Shot - Wounded/Injured||Mass Shooting (4+ vict...,40.3467,-79.8559,allegheny,PA
1,2013-01-01,California,hawthorne,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",33.9090,-118.3330,los angeles,CA
2,2013-01-01,Ohio,lorain,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",41.4455,-82.1377,lorain,OH
3,2013-01-05,Colorado,aurora,4,0,"Shot - Dead (murder, accidental, suicide)||Off...",39.6518,-104.8020,adams,CO
4,2013-01-07,North Carolina,greensboro,2,2,"Shot - Wounded/Injured||Shot - Dead (murder, a...",36.1140,-79.9569,guilford,NC

In [66]:
gunstateids.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 138879 entries, 0 to 138878
Data columns (total 10 columns):
date                        138879 non-null object
state_name                  138879 non-null object
city                        138879 non-null object
n_killed                    138879 non-null int64
n_injured                   138879 non-null int64
incident_characteristics    138696 non-null object
latitude                    133311 non-null float64
longitude                   133311 non-null float64
county_name                 138879 non-null object
state_id                    138879 non-null object
dtypes: float64(2), int64(2), object(6)
memory usage: 11.7+ MB

In [67]:
guns.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 138879 entries, 0 to 239676
Data columns (total 9 columns):
date                        138879 non-null object
state_name                  138879 non-null object
city                        138879 non-null object
n_killed                    138879 non-null int64
n_injured                   138879 non-null int64
incident_characteristics    138696 non-null object
latitude                    133311 non-null float64
longitude                   133311 non-null float64
county_name                 138879 non-null object
dtypes: float64(2), int64(2), object(5)
memory usage: 10.6+ MB

In [71]:
guns.nunique()

date                         1723
state_name                     51
city                         7761
n_killed                       14
n_injured                      21
incident_characteristics     9831
latitude                    72030
longitude                   75911
county_name                  1639
dtype: int64

In [72]:
gunstateids.to_csv('final_guns_counties.csv', index=False)